
:root{
    --background-color: #000;
}

/* Resetting Defaults  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 98vh;
    font-family: sans-serif, Arial, Helvetica;
}


main{
    background-image: url(../public/background-image.png);
    background-size: cover;
    color: #FFF;
    height: 100%;
    position: relative;
    text-align: center;
}

/* Overlay for background */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 1;
}

.overlay-text{
    position: absolute;
    z-index: 2;
}

/* Heading Text Styling */

.main-heading{
    font-size: 4.6rem;
    width: 100%;
    top: 3.2rem;
    scale: 1 1.15;
}

.sub-heading{
    font-size: 2.5rem;
    font-weight: 600;
    transform: rotate(-90deg);
    top: 11rem;
    right: -6.6rem;

}

.sub-heading_highlight{
    font-size: 7.5rem;
    font-weight: 600;
}

.motto-heading{
    font-size: 6.65rem;
    font-weight: 600;
    bottom: 2.9rem;
    left: 34rem;
    line-height: 5rem;
    scale: 1 1.1;
}

.motto-heading_highlight{
    font-size: 8.85rem;
    line-height: 1.1;
}

/* Dashboard Styles */

.dashboard{
    position: absolute;
    top: 2.75rem;
    padding: 2em 2.05rem;
    background: var(--background-color);
    z-index: 3;
    cursor: pointer;
}

.fa-bars{
    font-size: 1.75rem;
    scale: 1.5 1;
}

.dashboard:hover .dashboard-content{
    left: 0;
    transition: left 3s;
}

.dashboard-image{
    padding: 0.6rem 0.65rem 0.25rem;
    width: 7.75rem;
    height: auto;
}

.dashboard-content{
    width: 0px;
    position: absolute;
    left: -25em;
    top: 5.65rem;
    width: 16.9rem;
    white-space: nowrap;
    background-color: var(--background-color);
    padding: 2rem 2rem 0.15rem 2rem;
    border-radius: 0 1.75rem 1.5rem 0;
    transition: left 5s;

}

.dashboard-content ul{
    list-style: none;
}

.dashboard-element{
    margin: 1.35em 1.35em 1.55em ;
    font-size: 1.1rem;
    cursor: pointer;
}

.dashboard-element a{
    text-decoration: none;
    color: #FFF ;
}

/* Social Icons */

.social-icons{
    margin:  1.4rem 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.fa-brands{
    font-size: 2rem;
    margin-left: 0.5em;
    cursor: pointer;
}

.fa-twitter{
    font-size: 2.35rem;
}

