
/* Declaring Variables */
:root{
    --background-color: #000000;
}

/* Resetting defaults  */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto Condensed",Arial, Helvetica;
    color: #FFFFFF;
    background-color:  var(--background-color);
    margin: 0 1.25rem;
}

header{
    display: none;
}

.title-container{
    padding: 14.75em 0 6.65em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading{
    font-size: 3.2em;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

.main-heading_highlight{
    font-weight: 600;
}

.sub-heading{
    color: #CECECE;
    font-size: 2.05em;
    font-weight: 600;
    letter-spacing: 0.075rem;
    padding-top: .57em;
}

.sub-heading span{
    color: #4B8FE8;
}

.mail-contact{
    padding-top: .5em;
    font-size: 1.1rem;
    font-weight: 600;
}

.image-container{
    width: 100% 
}

.image-container img{
    width: 100%;
    margin-bottom: 1em;
}


.logo-container{
    text-align: center;
    padding: 3.85em 0 0;
}


.logo-header{
    font-size: 2.15em;
    font-weight: 600;
    color: #CECECE;
}

.logo-header span{
    color: #b8e887;
}

.logo-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.2em 0 0;
    margin: 0 1rem 5.5em;
}

.logo-wrapper{
    width: 9.5rem;
    height: auto;

}

.logo{
    width: 80%;
    height: max-content;
    margin: 1.5rem 0 4rem;
}

.left-logo{
    margin-right: 1.5rem;
}

.right-logo{
    margin-left: 2rem;
}

.logo[alt="Spotify"]{
    width: 6.5rem;
}


.logo[alt="Adidas"]{
    width: 4rem;
}

.logo[alt="Audi"]{
    width: 5.5rem;
}

.logo[alt="IKEA"]{
    width: 7rem;
}
.logo[alt="Mont Blanc"]{
    width: 5.5rem;
}

footer{
    text-align: center;
}

.footer-content{
    display: flex;
    gap: 1.1rem;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
}

.footer-logo{
    flex-basis: 2em;
}

.fa-brands{
    font-size: 2em;
    border-radius: 50%;
    border: 1px solid #FFF;
    padding: 0.75rem 0.8rem;
}

.fa-facebook-f{
    padding: 0.75rem 1.1rem;
}

.fa-medium{
    padding: 0.75rem 0.55rem;
}

.footer-note{
    display: block;
    margin: 2.5em 0 2.05em;
    font-size: 1.5em;
    font-weight: 500;
}


/* === Desktop Stylesheet === */
@media screen and (min-width: 768px) {

    body{
        margin: 4.15rem 10.5rem 4.15rem 11.25rem;
    }
    header{
        font-size: 1.775rem;
        font-weight: 600;
        display: flex;
        justify-content: flex-end;
    }

    .main-heading{
        font-size: 10.85em;
        font-weight: 300;
        letter-spacing: -1px;
    }

    .title-container{
        padding: 7.75em 0 6.8em;
    }
    .sub-heading{
        padding-top: 0.65rem;
        font-size: 3.35rem;
        letter-spacing: 2px;
    }
    .mail-contact{
        display: none;
    }

    .image-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.2em 2.2rem;
        margin-top: 3.15em;
    }

    .image-container img{
        width: 27.05rem;
    }

    .logo-container{
        padding-top: 8.515rem;
    }
    .logo-header{
        font-size: 3.2em;
        letter-spacing: 1px;
    }

    .logo-content{
        margin: 0 1em 16.25em 1em;
        padding-top: 7rem;
    }

    .logo{
        margin: 0.5em 2em;
        scale: 1.3;
    }

    .logo[alt="Adidas"]{
        scale: 1.5;
    }


    .logo[alt="Lufthansa"]{
        margin-left: 2.25em;
    }

    logo[alt="Mont Blanc"]{
        margin-left: 2.55em;
    }

    .footer-content{
        gap: 1.25%;
        margin-top: 7em;
    }
    .footer-note{
        margin: 3.45em 0 6.5em;
    }

}