
/* 
*  ==== Mobile First Approach with inclusion of tablets === *
*/

:root{
    --background-color: #145f94;
    --font-color: #fff;
}

/* Resetting defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",Arial, Helvetica;
}

header{
    text-align: center;
    color: var(--font-color);
    background-color: var(--background-color);
    width: 100%;
    padding: 5% 1%;
}

.main-heading{
    font-size: 1.45rem;
    font-weight: 400;
}

main{
    margin: 2rem 1rem 2rem 1rem;
}

/* Cards for each Channel */

.channel{
    display: inline-block;
    margin: 5% 7%;
    width: 86%;
    border: var(--background-color) solid 1px;
}


.channel-heading{
    position: sticky;
    top: 0;
    font-size: 1.35em;
    font-weight: 550;
    color: var(--font-color);
    background-color: var(--background-color);
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 1.5rem;
}


.channel-info{
    text-align: justify;
    color: #151515;
    background-color: #f6f6f6;
    font-size: 1.2em;
    line-height: 1.45;
    padding: 1em;
}

.left, .right{
    width: 90%;
    margin: auto;

}


/*
* ==== Styles For Desktop Devices === *
*/

@media only screen and (min-width: 821px){
    header{
        text-align: center;
        padding: 1.95rem;
    }
    
    main{
        margin: 1.75rem 9.6rem 0 8.35rem;
    }
    
    .main-heading{
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    /* Cards for each Channel */

    .channel{
        margin: .6em .6875rem .7em;
        width: 100%;
    }
    
    .channel-heading{
        font-size: 1.25rem;
    }
    
    .channel-info{
        font-size: 1.05rem;
        line-height: 1.55em;
        padding: 1.375rem 1.375rem 1.25rem 1.562rem;
    }
    
    .left{
        float: left;
        width: 54.75rem;

    }
    
    .right{
        float: right;
        width: 34rem;

    }
}

