
/* 
*  ==== Mobile First Approach with inclusion of tablets === *
*/

:root{
    --background-color: #145f94;
    --font-color: #fff;
}

/* Resetting defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",Arial, Helvetica;
}

header{
    text-align: center;
    color: var(--font-color);
    background-color: var(--background-color);
    padding: 5% 1%;
}

.main-heading{
    font-size: 1.25em;
    font-weight: 400;
}

main{
    margin: 8% 7.3% 10% 7.76%;
}

/* Cards for each Channel */

.channel{
    display: inline-block;
    margin: 5% 7%;
    width: 86%;
    border: var(--background-color) solid 1px;
}


.channel-heading{
    position: sticky;
    top: 0;
    font-size: 1em;
    font-weight: 550;
    color: var(--font-color);
    background-color: var(--background-color);
    height: 52px;
    line-height: 52px;
    padding-left: 26px;
}


.channel-info{
    text-align: justify;
    color: #151515;
    background-color: #f6f6f6;
    font-size: .9em;
    line-height: 1.45;
    padding: 1em;
}

/*
* ==== Styles For Desktop Devices === *
*/

@media only screen and (min-width: 769px){
    header{
        text-align: center;
        padding: 2%;
        height: 87px;
    }
    
    main{
        margin: 25px 126px 0 134px;
    }
    
    .main-heading{
        font-size: 22px;
        font-weight: 500;
    }
    
    /* Cards for each Channel */

    .channel{
        display: inline-block;
        margin: .6em 11px .7em;
    }
    
    .channel-heading{
        font-size: 22px;
        font-weight: 550;
        height: 56px;
        line-height: 52px;
        padding-left: 26px;
    }
    
    .channel-info{
        font-size: 17px;
        line-height: 1.55em;
        padding: 22px 22px 20px 25px;
    }
    
    .left{
        float: left;
        width: 61.1%;
    }
    
    .right{
        float: right;
        width: 38.7%;
    }
}

