/* Resetting defaults */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting default values */
body{
    background-color: #F5F5F5;
    font-family: "Roboto",Arial, Helvetica;
}

main{
    width: 100%;
}

/* Logo Wrapper */

.logo-wrapper{
    width: 12rem;
    margin: 0 auto;
}

.logo-wrapper>img{
    padding: 2.25rem 1.4rem 2.25rem;
}

/* Form Section */

.billing-form{
    margin: 0 auto;
    width: 36%;
    padding: 0.5rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFF;
    box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
    text-align: left;
}

.billing-form h2{
    margin-top: 1.5rem;
    margin-bottom: 1.75rem;
    font-size: 1.05rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #001B71;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}


label{
    font-size: 0.65rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.input-container > input{
    height: 2.70rem;
    border-radius: 0.25rem;
    border: 1px solid #CCCCCC ;
    padding: 1rem;
}


.error-message{
    font-size: 0.75rem;
    color: #C85F5F;
}

.half-input-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.half-input{
    width: 16.35rem;
}

.full-input{
    width: 34rem;
}

.submit-btn{
    height: 2.90rem;
    border-radius: 0.25rem;
    background-color: #001B71;
    color: #FFF;
}

