*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.titlebar{
    text-align: center;
    color: white;
    background-color: #42133e;
    line-height: 13vh;
    height: 13vh;

}

.home-banner{
    background-image: url("../public/cover.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
}

.cards-section{
    margin: 8%;
}

.card{
    display: inline-block;
    width: 400px;
    margin: 25px;
}

.card-title{
    font-weight: 200;
    font-size: 30px;
}